---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: istio-initializer-service-account
---
apiVersion: apps/v1beta1
kind: Deployment
metadata:
  name: istio-initializer
  annotations:
    sidecar.istio.io/inject: "false"
{{if .UseInitializer }}
  initializers:
    pending: []
{{end}}
  labels:
    istio: istio-initializer
spec:
  replicas: 1
  template:
    metadata:
      name: istio-initializer
      labels:
        istio: initializer
      annotations:
        sidecar.istio.io/inject: "false"
    spec:
      serviceAccountName: istio-initializer-service-account
      containers:
        - name: initializer
          image: {{.Hub}}/initializer:{{.Tag}}
          imagePullPolicy: IfNotPresent
          args:
            - --port=8083
            - --namespace={{.IstioNamespace}}
            - -v=2
          volumeMounts:
          - name: config-volume
            mountPath: /etc/istio/config
      volumes:
      - name: config-volume
        configMap:
          name: istio
